include components/_main

doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        title <%= project %>
        meta(content='' name='description')
        //- link(href='favicon.ico' rel='shortcut icon')
        link(href='components/main.html' rel='import')

    body
        +table()

        +script-dist()