link(href='../../vendor/polymer/polymer.html' rel='import')
link(href='../../vendor/iron-localstorage/iron-localstorage.html' rel='import')

dom-module#td-model
    template(strip-whitespace='')
        include -.tpl.html

    script
        include -.tpl.js