link(href='../_vendor/polymer/polymer.html' rel='import')
link(href='../_vendor/iron-localstorage/iron-localstorage.html' rel='import')

dom-module#td-model
    template(strip-whitespace='')
        include -tpl.html

    script
        include -tpl.js