include components/_main

doctype html
html(data-framework='polymer'
    lang='en')
    head
        meta(charset='utf-8')
        title Polymer • TodoMVC
        link(href='vendor/todomvc-app-css/index.css'
            rel='stylesheet')
        link(href='components/elements.build.html'
            rel='import'
            async)

    body
        #todoapp
            header
                h1 todos

            template(is='dom-bind')
                td-model#model(items='{{todos}}')
                td-todos(model-id='model' items='{{todos}}')

        footer#info
            p Double-click to edit a todo
            p Created by
                a(href='https://www.polymer-project.org/1.0/')  The Polymer Authors

            p Part of
                a(href='http://todomvc.com')  TodoMVC

        +script-dist()
            script(src='js/main.js')