ss-box
    border 1px solid #666
    cursor pointer
    float left
    height 100px
    position relative
    text-align center
    width 100px

    div
        display table
        height 100%
        width 100%

        span
            display table-cell
            font-family arial
            font-size 30px
            vertical-align middle