link(href='../.vendor/polymer/polymer.html' rel='import')
link(href='td-input.html' rel='import')

dom-module#td-item
    template(strip-whitespace='')
        include -tpl.html

    script
        include -tpl.js