include components/_main

doctype html
html(lang='es' ng-app='speedseed' ng-controller='MainCtrl as mainCtrl')
    head
        meta(charset='utf-8')
        title <%= project %>
        meta(content='' description='')
        //- link(href='favicon.ico' rel='shortcut icon')
        link(href='css/main.css' rel='stylesheet')

    body
        ss-table

        +script-dist()
            script(src='vendor/angular/angular.min.js')

            script(src='js/main.js')

            {%= getRoutes('components', '<%= compilerExt %>', false, `script(src='$TPL$')`, '            ') %}