include components/_main

doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        title
        meta(content='' name='description')
        link(href='favicon.ico' rel='shortcut icon')
        link(href='css/main.css' rel='stylesheet')

    body
        +table()

        +script-dist()
            {%= getRoutes('components', '<%= compilerExt %>', false, `script(src='$TPL$')`, '            ') %}