include components/_main

doctype html
html(data-framework='react'
    lang='en')
    head
        meta(charset='utf-8')
        title React • TodoMVC
        link(href='vendor/todomvc-app-css/index.css'
            rel='stylesheet')

    body
        section.todoapp
        footer.info
            p Double-click to edit a todo
            p Created by
                a(href='http://github.com/petehunt/')  petehunt

            p Part of
                a(href='http://todomvc.com') TodoMVC

        +script-min-ini()

        +script-min('vendor/react/dist/react-with-addons.js')
        +script-min('vendor/classnames/index.js')
        +script-min('vendor/director/build/director.js')

        +script-min('js/utils.js')
        +script-min('js/todoModel.js')

        +script-min('components/footer/main.js')
        +script-min('components/todoItem/main.js')

        +script-min('components/todoApp/main.js')

        +script-min-end()
