div
    header(className='header')
        h1 todos
        input(className='new-todo' placeholder='What needs to be done?'
            autoFocus!='{true}'
            onChange!='{this.handleChange}'
            onKeyDown!='{this.handleNewTodoKeyDown}'
            value!='{this.state.newTodo}')/

    |{main}
    |{footer}