include _components/index

doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        title speedseed-tic-tac-toe
        meta(
            content=''
            name='description'
        )
        //- link(
        //-     href='favicon.ico'
        //-     rel='shortcut icon'
        //- )
        link(
            href='css/main.css'
            rel='stylesheet'
        )

    body
        +table()

        +script-min-ini()

        +script-min('vendor/jquery/jquery-2.2.0.min.js')
        +script-min('js/main.js')

        +script-min-end()