.box
    border 1px solid #666
    cursor pointer
    display table
    float left
    height 100px
    text-align center
    width 100px

    span
        display table-cell
        font-family arial
        font-size 30px
        vertical-align middle