include components/_main

doctype html
html(data-framework='jquery'
    lang='en')
    head
        meta(charset='utf-8')
        title jQuery • TodoMVC
        link(href='_vendor/todomvc-app-css/index.css' rel='stylesheet')
        link(href='css/main.css' rel='stylesheet')

    body
        section#todoapp
            header#header
                h1 todos
                input#new-todo(autofocus
                    placeholder='What needs to be done?')

            section#main
                input#toggle-all(type='checkbox')
                label(for='toggle-all') Mark all as complete
                ul#todo-list

            footer#footer

        footer#info
            p Double-click to edit a todo
            p Created by
                a(href='http://sindresorhus.com') Sindre Sorhus

            p Part of
                a(href='http://todomvc.com') TodoMVC

        script#todo-template(type='text/x-handlebars-template').
            {{#this}}
            <li {{#if completed}}class='completed'{{/if}} data-id='{{id}}'>
                <div class='view'>
                    <input class='toggle' type='checkbox' {{#if completed}}checked{{/if}}>
                    <label>{{title}}</label>
                    <button class='destroy'></button>
                </div>
                <input class='edit' value='{{title}}'>
            </li>
            {{/this}}

        script#footer-template(type='text/x-handlebars-template').
            <span id='todo-count'><strong>{{activeTodoCount}}</strong> {{activeTodoWord}} left</span>
            <ul id='filters'>
                <li>
                    <a {{#eq filter 'all'}}class='selected'{{/eq}} href='#/all'>All</a>
                </li>
                <li>
                    <a {{#eq filter 'active'}}class='selected'{{/eq}}href='#/active'>Active</a>
                </li>
                <li>
                    <a {{#eq filter 'completed'}}class='selected'{{/eq}}href='#/completed'>Completed</a>
                </li>
            </ul>
            {{#if completedTodos}}<button id='clear-completed'>Clear completed</button>{{/if}}

        +script-dist()
            script(src='_vendor/jquery/dist/jquery.js')
            script(src='_vendor/handlebars/dist/handlebars.js')
            script(src='_vendor/director/build/director.js')

            script(src='js/main.js')