link(href='../../vendor/polymer/polymer.html'
    rel='import')

dom-module#ss-box
    style
        include ---main.css

    template
        .ss-box-container(on-click='push')
            span {{ xo }}