.box
    border 1px solid #666
    color #fff
    height 100px
    text-align center
    width 100px
    
    &.blue
        background-color #009
        
    &.green
        background-color #090
    
    &.red
        background-color #900