link(href='../_vendor/polymer/polymer.html' rel='import')
link(href='../_vendor/flatiron-director/flatiron-director.html' rel='import')
link(href='../_vendor/iron-selector/iron-selector.html' rel='import')
link(href='td-input.html' rel='import')
link(href='td-item.html' rel='import')

dom-module#td-todos
    template(strip-whitespace='')

    script
        include -tpl.js