mixin script-min-ini()
    //
        -->
        <!-- build:js js/all.js -->
        <!--
mixin script-min(src)
    script(src=src)&attributes(attributes)
    //
        -->
        <!--
mixin script-min-end()
    //
        -->
        <!-- endbuild -->
        <!--