include components/_main

doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        title <%= project %>
        meta(content='' description='')
        //- link(href='favicon.ico' rel='shortcut icon')
        link(href='css/main.css' rel='stylesheet')

    body
        +table()

        +script-dist()
            script(src='vendor/jquery/dist/jquery.min.js')

            {%= getRoutes('components', '<%= compilerExt %>', false, `script(src='$TPL$')`, '            ') %}